@font-face {
  font-display: block;
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url("assets/ArchitectsDaughter-Regular.ttf");
}

* {
  box-sizing: border-box;
}
